body { background: #333333;
height: 100vh;
 display: flex;  
justify-content: center;
align-items: center;}
.canvas {
 width::px;
 height:þpx;}
.pixel {
 width:30px;
 height:30px;
  float: left; }
.pixel:nth-child(189){background: #000000; } 
.pixel:nth-child(206){background: #000000; } 
.pixel:nth-child(223){background: #000000; } 
.pixel:nth-child(190){background: #004D99; } 
.pixel:nth-child(207){background: #004D99; } 
.pixel:nth-child(224){background: #004D99; } 
.pixel:nth-child(122){background: #000000; } 
.pixel:nth-child(139){background: #000000; } 
.pixel:nth-child(156){background: #000000; } 
.pixel:nth-child(173){background: #000000; } 
.pixel:nth-child(241){background: #000000; } 
.pixel:nth-child(123){background: #004D94; } 
.pixel:nth-child(140){background: #004D95; } 
.pixel:nth-child(157){background: #004D96; } 
.pixel:nth-child(174){background: #004D97; } 
.pixel:nth-child(191){background: #004D98; } 
.pixel:nth-child(208){background: #004D99; } 
.pixel:nth-child(89){background: #000000; } 
.pixel:nth-child(106){background: #000000; } 
.pixel:nth-child(225){background: #000000; } 
.pixel:nth-child(242){background: #000000; } 
.pixel:nth-child(259){background: #000000; } 
.pixel:nth-child(276){background: #000000; } 
.pixel:nth-child(90){background: #004D98; } 
.pixel:nth-child(107){background: #004D99; } 
.pixel:nth-child(124){background: #99CEFF; } 
.pixel:nth-child(141){background: #99CEFF; } 
.pixel:nth-child(158){background: #99CEFF; } 
.pixel:nth-child(175){background: #99CEFF; } 
.pixel:nth-child(192){background: #99CEFF; } 
.pixel:nth-child(209){background: #99CEFF; } 
.pixel:nth-child(226){background: #FFFFFF; } 
.pixel:nth-child(243){background: #FFFFFF; } 
.pixel:nth-child(277){background: #E68A00; } 
.pixel:nth-child(73){background: #000000; } 
.pixel:nth-child(294){background: #000000; } 
.pixel:nth-child(74){background: #004D99; } 
.pixel:nth-child(91){background: #99CEFF; } 
.pixel:nth-child(108){background: #99CEFF; } 
.pixel:nth-child(125){background: #99CEFF; } 
.pixel:nth-child(142){background: #99CEFF; } 
.pixel:nth-child(159){background: #99CEFF; } 
.pixel:nth-child(176){background: #99CEFF; } 
.pixel:nth-child(193){background: #99CEFF; } 
.pixel:nth-child(210){background: #FFFFFF; } 
.pixel:nth-child(227){background: #FFFFFF; } 
.pixel:nth-child(244){background: #FFFFFF; } 
.pixel:nth-child(278){background: #E68A00; } 
.pixel:nth-child(57){background: #000000; } 
.pixel:nth-child(295){background: #000000; } 
.pixel:nth-child(75){background: #004D9A; } 
.pixel:nth-child(92){background: #99CEFF; } 
.pixel:nth-child(109){background: #99CEFF; } 
.pixel:nth-child(126){background: #99CEFF; } 
.pixel:nth-child(143){background: #FFFFFF; } 
.pixel:nth-child(177){background: #99CEFF; } 
.pixel:nth-child(194){background: #99CEFF; } 
.pixel:nth-child(211){background: #FFFFFF; } 
.pixel:nth-child(228){background: #FFFFFF; } 
.pixel:nth-child(245){background: #FFFFFF; } 
.pixel:nth-child(279){background: #E68A00; } 
.pixel:nth-child(58){background: #000000; } 
.pixel:nth-child(160){background: #000000; } 
.pixel:nth-child(296){background: #000000; } 
.pixel:nth-child(59){background: #004D99; } 
.pixel:nth-child(76){background: #004D9B; } 
.pixel:nth-child(93){background: #99CEFF; } 
.pixel:nth-child(110){background: #99CEFF; } 
.pixel:nth-child(127){background: #99CEFF; } 
.pixel:nth-child(195){background: #99CEFF; } 
.pixel:nth-child(212){background: #FFFFFF; } 
.pixel:nth-child(229){background: #FFFFFF; } 
.pixel:nth-child(246){background: #FFFFFF; } 
.pixel:nth-child(178){background: #E68A00; } 
.pixel:nth-child(42){background: #000000; } 
.pixel:nth-child(144){background: #000000; } 
.pixel:nth-child(161){background: #000000; } 
.pixel:nth-child(280){background: #000000; } 
.pixel:nth-child(60){background: #004D99; } 
.pixel:nth-child(77){background: #004D9C; } 
.pixel:nth-child(94){background: #99CEFF; } 
.pixel:nth-child(111){background: #99CEFF; } 
.pixel:nth-child(128){background: #99CEFF; } 
.pixel:nth-child(213){background: #FFFFFF; } 
.pixel:nth-child(230){background: #FFFFFF; } 
.pixel:nth-child(247){background: #FFFFFF; } 
.pixel:nth-child(179){background: #E68A00; } 
.pixel:nth-child(196){background: #E68A00; } 
.pixel:nth-child(43){background: #000000; } 
.pixel:nth-child(281){background: #000000; } 
.pixel:nth-child(61){background: #004D99; } 
.pixel:nth-child(78){background: #004D9D; } 
.pixel:nth-child(95){background: #99CEFF; } 
.pixel:nth-child(112){background: #99CEFF; } 
.pixel:nth-child(129){background: #99CEFF; } 
.pixel:nth-child(214){background: #FFFFFF; } 
.pixel:nth-child(231){background: #FFFFFF; } 
.pixel:nth-child(248){background: #FFFFFF; } 
.pixel:nth-child(180){background: #E68A00; } 
.pixel:nth-child(197){background: #E68A00; } 
.pixel:nth-child(44){background: #000000; } 
.pixel:nth-child(282){background: #000000; } 
.pixel:nth-child(62){background: #004D99; } 
.pixel:nth-child(79){background: #004D9E; } 
.pixel:nth-child(96){background: #99CEFF; } 
.pixel:nth-child(113){background: #99CEFF; } 
.pixel:nth-child(130){background: #99CEFF; } 
.pixel:nth-child(147){background: #FFFFFF; } 
.pixel:nth-child(198){background: #99CEFF; } 
.pixel:nth-child(215){background: #FFFFFF; } 
.pixel:nth-child(232){background: #FFFFFF; } 
.pixel:nth-child(249){background: #FFFFFF; } 
.pixel:nth-child(181){background: #E68A00; } 
.pixel:nth-child(45){background: #000000; } 
.pixel:nth-child(164){background: #000000; } 
.pixel:nth-child(283){background: #000000; } 
.pixel:nth-child(80){background: #004D9F; } 
.pixel:nth-child(97){background: #99CEFF; } 
.pixel:nth-child(114){background: #99CEFF; } 
.pixel:nth-child(131){background: #99CEFF; } 
.pixel:nth-child(182){background: #99CEFF; } 
.pixel:nth-child(199){background: #99CEFF; } 
.pixel:nth-child(216){background: #FFFFFF; } 
.pixel:nth-child(233){background: #FFFFFF; } 
.pixel:nth-child(250){background: #FFFFFF; } 
.pixel:nth-child(284){background: #E68A00; } 
.pixel:nth-child(63){background: #000000; } 
.pixel:nth-child(148){background: #000000; } 
.pixel:nth-child(165){background: #000000; } 
.pixel:nth-child(301){background: #000000; } 
.pixel:nth-child(81){background: #004D99; } 
.pixel:nth-child(98){background: #99CEFF; } 
.pixel:nth-child(115){background: #99CEFF; } 
.pixel:nth-child(132){background: #99CEFF; } 
.pixel:nth-child(149){background: #99CEFF; } 
.pixel:nth-child(166){background: #99CEFF; } 
.pixel:nth-child(183){background: #99CEFF; } 
.pixel:nth-child(200){background: #99CEFF; } 
.pixel:nth-child(217){background: #FFFFFF; } 
.pixel:nth-child(234){background: #FFFFFF; } 
.pixel:nth-child(251){background: #FFFFFF; } 
.pixel:nth-child(285){background: #E68A00; } 
.pixel:nth-child(64){background: #000000; } 
.pixel:nth-child(302){background: #000000; } 
.pixel:nth-child(99){background: #004D99; } 
.pixel:nth-child(116){background: #004D99; } 
.pixel:nth-child(133){background: #99CEFF; } 
.pixel:nth-child(150){background: #99CEFF; } 
.pixel:nth-child(167){background: #99CEFF; } 
.pixel:nth-child(184){background: #99CEFF; } 
.pixel:nth-child(201){background: #99CEFF; } 
.pixel:nth-child(218){background: #99CEFF; } 
.pixel:nth-child(235){background: #FFFFFF; } 
.pixel:nth-child(252){background: #FFFFFF; } 
.pixel:nth-child(286){background: #E68A00; } 
.pixel:nth-child(82){background: #000000; } 
.pixel:nth-child(303){background: #000000; } 
.pixel:nth-child(134){background: #004D99; } 
.pixel:nth-child(151){background: #004D99; } 
.pixel:nth-child(168){background: #004D99; } 
.pixel:nth-child(185){background: #004D99; } 
.pixel:nth-child(202){background: #004D99; } 
.pixel:nth-child(219){background: #004D99; } 
.pixel:nth-child(100){background: #000000; } 
.pixel:nth-child(117){background: #000000; } 
.pixel:nth-child(236){background: #000000; } 
.pixel:nth-child(253){background: #000000; } 
.pixel:nth-child(270){background: #000000; } 
.pixel:nth-child(287){background: #000000; } 
.pixel:nth-child(203){background: #004D99; } 
.pixel:nth-child(220){background: #004D99; } 
.pixel:nth-child(237){background: #004D99; } 
.pixel:nth-child(135){background: #000000; } 
.pixel:nth-child(152){background: #000000; } 
.pixel:nth-child(169){background: #000000; } 
.pixel:nth-child(186){background: #000000; } 
.pixel:nth-child(254){background: #000000; } 
.pixel:nth-child(204){background: #000000; } 
.pixel:nth-child(221){background: #000000; } 
.pixel:nth-child(238){background: #000000; } 

